<ul>
    <li><a href="<%= swal_path(:error) %>">error</a></li>
    <li><a href="<%= swal_path(:info) %>">info</a></li>
    <li><a href="<%= swal_path(:success) %>">success</a></li>
    <li><a href="<%= swal_path(:warning) %>">warning</a></li>
    <li><a href="/alerts/templater">with html template page</a></li>
    <li><a href="/alerts/templater.json">with json template page</a></li>
    <li><a href="<%= direct_path(:json) %>">render json</a></li>
    <li><a href="<%= direct_path(:text) %>">render text</a></li>
    <li><a href="<%= direct_path(:xml) %>">render xml</a></li>
</ul>